*{
    
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "google sans regular";
}
body{
    background-color: rgba(0, 0, 0, 0.829);

    background-size: cover;
    

}

header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color:red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    
}
header.red{
    background-color: red;
}
.bu{
   opacity: 0;
}
.i{
    width: 70px;
    height: 70px;
    margin-top: -7px;
    float: left;
    margin-right: 2px;

}

.logo h3{
    color: white;
    font-family: sans-serif;
    margin-top: 13px;
    float: left;
    font-size: 27px;
     font-weight: bolder;
}


.n ul{
    display: flex;
    
}



.n ul li a{
    display: block;
    color: white;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
    text-transform: capitalize;
}
.n ul li a:hover{
    color: black;
    background-color: white;
}
.n ul li a.act{
    color: black;
    background-color: white;
}
@media only screen and (max-width:1110px){
 .fixture{
    margin-left: 400px;
 }
}
@media only screen and (max-width:950px){
header{
    padding-left: 20px;
    padding-right: 0;
}

}
@media only screen and (max-width:800px){
    .bar{
        display: block;
        cursor: pointer;
        margin-right: 30px;
    }
    .bu{
        opacity: 1;
        background-color: rgba(0, 0, 0, 0);
        border:0px;
    }
    .line{
        width: 30px;
        height: 3px;
        background-color: white;
        margin: 6px 0;
    }
    
    
    .n{
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        left: 0;
        
        height: 300;
        background-color: rgba(255, 0, 0, 0.897);
        transition: 0.2s;
       
    }
    .n ul{
        display: none;
        display: block;
        width: fit-content;
        align-items: center;
        transition: 0.5s;
        margin: -5px auto 10px auto;
        
    }
    .n ul li a{
        margin-bottom: 12px;
    }
}
.cn{
    
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top:150px ;
    
}
.s{
    font-size: 40px;
    color: white;
    margin-left: 50px;
}

.cas{
    width: 389px;
 height: 150px;
}
table{ 
    background-color: white;
 width: 389px;
 height: 450px;
border-radius: 20px;
margin: 30px;
float: left;
padding-left: 0px;
}
th,td{
    
    color:black;
    
}
.sim{
    width: 70px;
    height: 70px;
    float: left;
}
.h2h{
    font-weight: normal;
    margin-top: 25px;
}
.hs{
    font-weight: normal;
    margin-top: 8px;
}
@media only screen and (max-width:500px){
    table{
        width: 380px;
        height: 450px;
       
       margin-left: 40px;
       float: none;
       padding-left: 0px;
       }
}
@media only screen and (max-width:450px){
    table{
        width: 380px;
        height: 450px;
       
       margin-left: 20px;
       float: none;
       padding-left: 0px;
       }
       .cas{
        width: 380px;
       }
}
@media only screen and (max-width:400px){
    table{
        width: 360px;
        height: 450px;
       
       margin-left: 15px;
       float: none;
       padding-left: 0px;
       }
       .cas{
        width: 360px;
       }
}
@media only screen and (max-width:360px){
    table{
        width: 330px;
        height: 450px;
       
       margin-left: 15px;
       float: none;
       padding-left: 0px;
       }
       .cas{
        width: 330px;
       }
}